name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: global.json
        cache: true
        cache-dependency-path: '**/packages.lock.json'
    - name: Restore dependencies
      run: dotnet restore --use-current-runtime
    - name: Build
      run: dotnet build --no-restore --use-current-runtime
    - name: Test
      run: dotnet test --no-build --verbosity normal --logger html --logger trx
    - name: Test results artifacts
      uses: actions/upload-artifact@v4
      with:
        name: test-results-${{ matrix.os }}
        path: '*/TestResults'
      if: ${{ always() }}
